.header {
    border-bottom: 1px solid #008B8B;
    font-size: 20px;
}
body {
    background-color: #B0C4DE;
}
.card {
    width: 650px;
    font-size: 20px;
    border: 1px solid white;
}
.content {
    padding: 30px;
    font-size: 20px;
}
.card-body {
    background-color: #B0C4DE;
}
.footer {
    border-top: 1px solid #008B8B;
    font-size: 20px;
}